html body {
    background-color: rgb(15, 8, 16);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}

.brand {
    display: flex;
    justify-content: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: wheat;
    text-decoration: none;
}

nav ul li a:hover {
    color: aquamarine;
}